.footer{
border-top: 1px solid #ffffff;
  &-partner{

    display: flex;
    align-items: center;

    &-items{
      margin-right: 120px;

      &last-child{

        margin-right: 0;
      }
    }
  }

  &-text-wrap{

    display: flex;
    justify-content: space-between;


  }

  &-nav{
    display: flex;
    flex-direction: column;
    margin-bottom: 88px;

    &-links{
      font-weight: normal;
      font-size: 17px;
      line-height: 20px;
      text-decoration: none;
      margin-bottom: 20px;
      color:#ffffff;

      &:last-child{
        margin-bottom: 0;
      }

    }
    &-text{
      width: 366px;
      font-weight: normal;
      font-size: 17px;
      line-height: 20px;
      color: #FFFFFF;

    }
  }
   &-text{
     font-weight: 300;
     font-size: 14px;
     line-height: 14px;
     color: #fff;
     margin-bottom: 14px;
   }
}

.text-color{
  color:#EDE852;

}